<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>StandardOutPath</key>
      <string>/var/log/anylog.log</string>
    <key>StandardErrorPath</key>
      <string>/var/log/anylog.log</string>
<key>ProgramArguments</key>
<array>
    <string>/bin/bash</string>
    <string>-c</string>
    <string>/Users/uidq7337/git/dotfiles/anyping.sh</string>
</array>
<key>Label</key>
    <string>anyping</string>
</dict>
</plist>
